@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-accent-1: #A5D8FF;
  --color-accent-2: #D0BCFF;
  --color-accent-3: #B197FC;
  
  --color-primary: #3B82F6;
  --color-primary-bg: #EFF6FF;
  
  --color-sec-bg: #FFFFFF;
  --color-sec: #F3F4F6;
  
  --color-dark-bg: #000000;
  --color-dark-sec-bg: #404040;
  --color-dark-sec: #737373;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
